<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Category List</h2>
    </div>
    <div class="col-3">
        <a asp-action="Upsert" class="btn btn-warning">
            <i class="fas fa-plus"></i>&nbsp; New Category
        </a>
    </div>
</div>
<div class="border p-2 m-2">
    <table id="tblData" class="table table-bordered table-active table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div> 
@section Scripts
{
    <script src="~/js/category.js"></script>
}